.icon {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 13px;
  margin-left: 2px;
}

.bar {
  width: 3px;
  height: 2px;
  background: orange;
  margin-right: 2px;
  border-radius: 1px;
  animation-name: bounce;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

:global(.dark) .darkModeEnabled .bar {
  background: rgb(255, 208, 115);
}

.bar:nth-child(1) {
  animation-delay: 0.2s;
}

.bar:nth-child(2) {
  animation-delay: 0.6s;
}

.bar:nth-child(3) {
  animation-delay: 0.4s;
  margin-right: 0;
}

@keyframes bounce {
  0% {
    height: 2px;
  }
  50% {
    height: 10px;
  }
  100% {
    height: 2px;
  }
} 